body{
	background-color: #A6A6A6;
}

.phone{
	margin: 0 auto;
	width:332px;
	height:640px;
	z-index: 10;
	background-color: #A6A6A6;
}

.phoneoutline{
	
	position: absolute;
    top: 0px;
    z-index: 1000;
    width:360px;
    margin-left:-180px;
    left:50%;
	pointer-events: none;

}

.phoneScreen{
	z-index:50;
	background-color: white;
	width:332px;
	height:560px;
	margin-top:82px;
	font-family: 'Roboto', sans-serif;
}

.header{
	background-color: #27496d;
	height:9%;
	text-align: center;
	vertical-align: middle;
}

.header .title{
	position:absolute;
	color:white;
	font-size: 24px;
	/*vertical-align: middle;*/
	margin-top: 10px;
	margin-left: 140px;
	text-align: center;
}

.hamburgermenu{
	float:left;
	align-self: flex-start;
	width:35px;
	margin-left:10px;
	margin-top:11px;
}

.hidden{
	
}

