.section
{
    text-align: center;
    margin-top: 5px;
}

.section_title:before {
    content: attr(name);
    display: inline-block;
    font-size: 130%;
    max-width: 300px;
    vertical-align: top;
    margin-right: 10px;
}

.section_title:after {
    content: "+";
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 135%;
    background-color: #08f3df;
    border-width: 2px;
    border-radius: 50%;
}