#section {
    font-weight: bold; 
    width: 55px; 
    height: 100%; 
    font-size:12px; 
    height:100%; 
    line-height: 15px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#section_title {
    font-weight: bold; 
    width: 175px; 
    height: 50px; 
    margin:0; 
    font-size:12px; 
    border:0; 
    height:100%; 
    line-height: 25px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#section_title.plus {

}

/*.columnDiv{
    float:left; 
    width:58px; 
    height: 100%; 
    background-color:#fff;
}
.rowDiv{
    font-weight: bold; 
    text-align: center; 
    width: 175px; 
    height: 50px; 
    margin:0; 
    font-size:12px; 
    border:0; 
    height:100%; 
    line-height: 25px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}*/