.pagecontents{
	margin: 0 auto;
	
	text-align: center;
}

.bottomSection{
	/**/
	/*margin-top: 90%;*/
	text-align: center;
	vertical-align: middle;
	height:65px;
	padding:0px;
	border-top: 2px solid black;
	/*border-bottom: 1px solid black;*/
}

.buttomButton{
	text-align: center;
	vertical-align: middle;
	margin-top:15px !important;
	height:45px;
}

.createForm{
	padding:10px;
	height: 365px;
	overflow: scroll;
	overflow-x: hidden;
}

.eventinput{
	vertical-align: middle;
	width:100%;
}

.eventnameIN{
	line-height: 18px;
	font-size: 18px;
	width:75%;
}

.pagetitle{
	font-size: 24px;
}

.createicon{
	vertical-align: middle;
}