.menu{
	text-align: left;
	position:absolute;
	background-color: #27496d;
	height:400px;
	width:240px;
	color:white;
}

a {
  	text-decoration: none !important;
  	color:white;
}

.link{
	line-height:40px;
	width:210px;
	display:block;
	text-shadow: -1px 1px #417cb8;
	vertical-align: middle;
	margin-top:14px;
	background-color: #27496d;
}

.link:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.link:active {
  background-color: #6496c8;
  text-shadow: -1px 1px #193047;
}

.icon{
	margin-left: 20px;
	height:25px;
	vertical-align: middle;
}

.label{
	/*display: inline;*/
	height:40px;
/*	position:absolute;
	
	top:50%;
	margin-top:-20px;
	font-size: 20px;*/
	margin-left: 8px;
}
