.pagecontents{
	margin: 0 auto;
	padding:10px;
/*	text-align: center;*/
}

h3 {
	margin-bottom: 10px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.event {
	border-top: thin solid gray;
	color: black;
}

#event4 {
	border-bottom: thin solid gray;
}

.eventPhoto {
	float:left;  
	padding:12px 0px 0px 20px;
}

#event2photo {
	padding-top: 20px;
}

#event4photo {
	padding-top: 15px;
}

.eventDetails {
	padding: 0px 0px 0px 130px;
}

#dateAndtime {
	margin-bottom: 1px;
}

form {
	text-decoration: none;
	float: right;
	padding-top: 16px;
	padding-right: 10px;
}

.trashLink {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}



