.pagecontents{
	margin: 0 auto;
	padding:10px;
/*	text-align: center;*/
}

h3 {
	margin-bottom: 10px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.event {
	border-top: thin solid gray;
	color: black;
}

.events {
	border-bottom: thin solid gray;
	overflow-y: scroll;
	height: 382px;
}

.eventPhoto {
	float:left;  
	padding:12px 0px 0px 20px;
	max-width: 90px;
}

/*#event2photo {*/
	/*padding-top: 20px;*/
/*}*/

/*#event4photo {*/
	/*padding-top: 15px;*/
/*}*/

.eventDetails {
	padding: 0px 0px 0px 130px;
}

.eventDescription {
	font-weight: bold;
	font-size: 1.1em;
}

.dateAndTime {
	margin-bottom: 1px;
}

.going {
	text-decoration: none;
	float: right;
	padding-top: 16px;
	padding-right: 10px;
}

.trash {
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

#trashLink {
	font-weight: bold;
	color: 	#1C86EE;
}



